
@{
    Layout = null;
}

<!DOCTYPE html>
@Scripts.Render("~/bundles/scripts")
@Styles.Render("~/bundles/css/layout")
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Personel Yönetimi</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item nav-link">
                    @Html.ActionLink("Personeller", "Index", "Personel")
                </li>
                <li class="nav-item nav-link">
                    @Html.ActionLink("Departmanlar", "Index", "Department")
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
    @RenderBody()
</body>
</html>
